/* 
/**Stylesheet RESET code
*html5doctor.com Reset Stylesheet
*v1.6.1
*Last Updated: 2010-09-17
*Author: Richard Clark - http://richclarkdesign.com 
*Twitter: @rich_clark
*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/**My code */

* {
  text-decoration: none;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}


.navbar {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

header .header-logo {
  font-family: Catamaran;
  font-size: 15px;
  color: #111;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
  margin-left: -  20px;
  text-align: center;
  padding: 20px 0px;
  width: 60%;
  margin: auto;
}

header nav ul {
  display: block;
  /*used to make centering possible*/
  margin: auto;
  width: fit-content;
}

header nav ul li {

  text-align: center;
  list-style: none;
  padding: 0 16px;
  margin: 12px auto;
}

header nav ul li a {
  font-family: Catamaran;
  font-size: 13px;
  color: #111;
  text-transform: uppercase;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #111;
  font-size: 30px;
  margin-top: 30px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

/**styling for larger screens using media query */
@media screen and (min-width: 1280px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 0px;
    color: #4893D8;
  }

  .nav-links:hover {
    color: #111;
  }

  header .header-logo {
    margin-top: 0;
    width: 30%;
    margin-left: 0px;
    margin-bottom: 1px;
  }

  .navbar-toggle {
    display: none;
  }

}

/**Form section**/

.form-class {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  padding: 30px 10px 20px 30px;
  text-align: center;
}

.create-party-form {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 50px 50px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 75px;
}

.create-party-form p {
  text-align: center;
  font-family: Catamaran;
  display: block;
  text-align: center;
  margin-top: 10px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=file],
select {
  width: 100%;
  padding: 10px;
  padding-right: 5px;
  margin-top: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 13px;
  font-family: Ubuntu;
}

#manifesto {
  width: 100%;
  padding: 60px;
  padding-left: 15px;
  padding-right: 5px;
  margin-top: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 13px;
  font-family: Ubuntu;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

input[type=submit]:hover {
  background-color: #45a049;
}



/*for laptop screen*/
@media screen and (min-width: 1024px) {
  .create-party-form {
    margin: auto;
    margin-top: 50px;
    width: 35%;
  }
}

/*for ipad screen*/
@media screen and (width: 1024px) {
  .create-party-form {
    margin: auto;
    margin-top: 100px;
    width: 75%;
  }
}

/**admin summary BEGINS */
div .card-grid {
  
  width: 100%;
  margin-top: 10%;
}

div .card {
  display: flex;
  flex-flow: row wrap;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 20px;
}

div .header{
  background-color: #4893D8;
  color: white;
  padding: 10px;
  font-size: 40px;
}

div .container {
  padding: 10px;
  margin: auto;
}


/**admin  summary ENDS */



/**all candidates overview BEGINS*/
.candidates-grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%; /* 4 items * item width(100+5+5) = 440 */
}

.candidates-grid .single-candidate {
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
}

.candidates-grid .single-candidate p {
  font-size: 12px;
  text-align: center;
  font-family: Catamaran;
}

.candidate-image {
  width: 200px;
}

@media screen and (max-width: 414px){
  .candidate-image {
    width: 50px;
  }
  .candidates-grid .single-candidate p {
    font-size: 8px;
    text-align: center;
  }
  .candidates-grid .single-candidate {
    
    margin: auto;
  }
}
/**all candidates overview ENDS*/


/**Single candidate view style BEGINS */
.candidate {
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

@media screen and (min-width: 1280px) {
  .candidate {
    width: 40%;
  }
}

#candidate-avatar {
  width: 50%;
}

.candidate-manifesto {
  padding: 10px;
  font-family: Catamaran;
}

.candidate-manifesto .intro {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Catamaran;
}
/**SIngle candidate view style ENDS */

/**user profile page and admin table BEGINS */

.about-user {
  width:50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 30px;
  padding-bottom: 10px;
}

.user-avatar {
  width: 30%;
  padding-bottom: 10px;
}

.activity-section {
  padding-top: 20px;
  margin: auto;

}

#user-activity-table {
  font-family: Catamaran;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

#user-activity-table td, #user-activity-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#user-activity-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4893D8;
  color: white;
}

#user-activity-1 #user-activity-2 h3 {
  font-family: Catamaran;
  padding-top: 20px;
}


@media screen and (min-width: 1280px) {
  .about-user {
    width:20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 30px;
  }
  
  .user-avatar {
    width: 20%;
  }
  
  #user-activity-table {
    font-family: Catamaran;
    border-collapse: collapse;
    
  }
  
  #user-activity-table td, #user-activity-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #user-activity-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4893D8;
    color: white;
  }

  #user-activity-1 {
    width: 50%;
    margin: auto;
    margin-top: -100px;  
  }

  #user-activity-2 {
    width: 50%;
    margin: auto;
    margin-top: -300px;  
  }
}

/**user profile page and admin table ENDS */

.small-success-button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Catamaran;
  font-size: 12px;
  top: 65%;
  left: 50%;
  cursor: pointer;
  
  -ms-transform: translate(-50%, -50%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.small-default-button {
  background-color: #4d90bd;
  /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Catamaran;
  font-size: 12px;
  top: 65%;
  left: 50%;
  cursor: pointer;
  
  -ms-transform: translate(-50%, -50%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.small-danger-button {
  background-color: #f80808;
  /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Catamaran;
  font-size: 12px;
  top: 65%;
  left: 50%;
  cursor: pointer;
  
  -ms-transform: translate(-50%, -50%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/**footer BEGINS */
.footer {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  color: #111;
  text-align: center;
  font-family: Catamaran;
  
}


/**footer ENDS */

