* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #F0F4F3;
}

#wrap {
  min-height: -webkit-calc(100% - 100px);     /* Chrome */
  min-height: -moz-calc(100% - 100px);     /* Firefox */
  min-height: calc(100% - 100px);     /* native */
} 

main {
  min-height: 50vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}


.navbar {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

header .header-logo {
  font-family: Catamaran;
  font-size: 15px;
  color: #111;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 0px;
  padding-left: 20px;
  width: 60%;
  margin: auto;
}

header nav ul {
  display: block;
  /*used to make centering possible*/
  margin: auto;
  width: fit-content;
}

header nav ul li {
  text-align: center;
  list-style: none;
  padding: 0 16px;
  margin: 12px auto;
}

header nav ul li a {
  font-family: Catamaran;
  font-size: 13px;
  color: #111;
  text-transform: uppercase;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #111;
  font-size: 30px;
  margin-top: 30px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

.deactivate {
  display: none;
}

/**styling for larger screens using media query */
@media screen and (min-width: 1280px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 0px;
    color: #4893D8;
  }

  .nav-links:hover {
    color: #111;
  }

  header .header-logo {
    margin-top: 0;
    width: 30%;
    margin-left: 0px;
    margin-bottom: 1px;
  }

  .navbar-toggle {
    display: none;
  }

}

.page-explainer {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  color: #111;
  text-align: center;
  font-size: 20px;
  font-family: Catamaran;
}

/**Form section**/

.form-class {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  padding: 30px 10px 20px 30px;
  text-align: center;
}

.create-party-form {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 50px 50px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 75px;
}

.create-party-form p {
  text-align: center;
  font-family: Catamaran;
  display: block;
  text-align: center;
  margin-top: 10px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=file],
select {
  width: 100%;
  padding: 10px;
  padding-right: 5px;
  margin-top: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 13px;
  font-family: Ubuntu;
}

#manifesto {
  width: 100%;
  padding: 60px;
  padding-left: 15px;
  padding-right: 5px;
  margin-top: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 13px;
  font-family: Ubuntu;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

input[type=submit]:hover {
  background-color: #45a049;
}



/*for laptop screen*/
@media screen and (min-width: 1024px) {
  .create-party-form {
    margin: auto;
    margin-top: 50px;
    width: 35%;
  }
}

/*for ipad screen*/
@media screen and (width: 1024px) {
  .create-party-form {
    margin: auto;
    margin-top: 100px;
    width: 75%;
  }
}

/**admin summary BEGINS */
.card-grid {
  width: 20%;
  margin-top: 70px;
  margin-left: 20px;
}

div .card {
  display: flex;
  flex-flow: row wrap;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 20px;
  color: #111;
}

div .header{
  background-color: #4893D8;
  color: white;
  padding: 10px;
  font-size: 40px;
}

div .container {
  padding: 10px;
  margin: auto;
}


/**admin  summary ENDS */



/**all candidates overview BEGINS*/
.candidates-grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 20px;
  
  
}

.candidates-grid .single-candidate {
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
}

.candidates-grid .single-candidate p {
  font-size: 12px;
  text-align: center;
  font-family: Catamaran;
}

.candidate-image {
  width: 200px;
  height: 250px;
  margin: auto;
}

@media screen and (max-width: 414px){
  .candidates-grid {
    width: 75%;
  }
  .candidate-image {
    width: 100px;
    height: 50px;
  }
  .candidates-grid .single-candidate {
    padding: 10px;
    margin: auto;
  }
  .candidates-grid .single-candidate p {
    font-size: 8px;
    text-align: center;
  }
}
/**all candidates overview ENDS*/


/**Single candidate view style BEGINS */
.candidate {
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

@media screen and (min-width: 1280px) {
  .candidate {
    width: 40%;
  }
}

#candidate-avatar {
  width: 50%;
}

.candidate-manifesto {
  padding: 10px;
  font-family: Catamaran;
}

.candidate-manifesto .intro {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Catamaran;
}

.party-name {
  
}

.party-candidates {

}

.hq_address {

}
/**SIngle candidate view style ENDS */

/**user profile page and admin table BEGINS */

.about-user {
  width:100%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: Catamaran;
}

.user-avatar {
  width: 50%;
  padding-bottom: 10px;
}

.activity-section {
  padding-top: 50px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  font-family: Catamaran;
}

#user-activity-table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#user-activity-table td, #user-activity-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#user-activity-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4893D8;
  color: white;
}

#user-activity-1 #user-activity-2 h3 {
  font-family: Catamaran;
  padding-top: 20px;
}

/**for tablet view */
@media screen and (min-width: 768px) {
  .about-user {
    font-family: Catamaran;
    font-size: 30px;
  }
  .activity-section {
    font-size: 25px;
  }
}

/**for laptop screen */
@media screen and (min-width: 1280px) {
  .about-user {
    width:50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center; 
    font-size: 20px;
  }

  .activity-section {
    padding-top: 150px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
  }
  
  .user-avatar {
    width: 20%;
  }
  
  #user-activity-table {
    font-family: Catamaran;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #user-activity-table td, #user-activity-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #user-activity-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4893D8;
    color: white;
  }

  #user-activity-1 {
    width: 50%;
    margin: auto;
    margin-top: -100px;  
  }

  #user-activity-2 {
    width: 50%;
    margin: auto;
    margin-top: -590px;
    margin-left: 40%;  
  }
}

/**user profile page and admin table ENDS */

.small-success-button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Catamaran;
  font-size: 12px;
  top: 65%;
  left: 50%;
  cursor: pointer;
  
  -ms-transform: translate(-50%, -50%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.small-default-button {
  background-color: #4d90bd;
  /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Catamaran;
  font-size: 12px;
  top: 65%;
  left: 50%;
  cursor: pointer;
  
  -ms-transform: translate(-50%, -50%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.small-danger-button {
  background-color: #f80808;
  /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Catamaran;
  font-size: 12px;
  top: 65%;
  left: 50%;
  cursor: pointer;
  -ms-transform: translate(-50%, -50%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.footer {
  left:0px;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  text-align: left;
  font: bold 16px Catamaran;
  padding: 55px 50px;
  width: 100%;
  position: relative;
  clear:both;
  margin-top: 10%;
  margin-bottom: 0%;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: top;
}

.footer .footer-left {
  width: 40%;
}

.footer .company-logo {
  width: 30%;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 #111, 0 6px 20px 0 #111;
}

.footer .footer-links {
  color: #fff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer .footer-center {
  width: 35%;
}

.footer .footer-center i{
  background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


.footer .footer-right{
	width: 20%;
}

.footer .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-icons{
	margin-top: 25px;
}

.footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer{
    font: bold 14px sans-serif;
    margin-top: 20%;
    margin-bottom: 0;
	}

	.footer .footer-left{
		display: inline-block;
		width: 100%;
    text-align: center;
  }

	.footer .footer-center,
	.footer .footer-right{
		display: none;
	}
  

}



