
* {
  text-decoration: none;
}

body {
  background-color: #F0F4F3;
}

.sign-up-form {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 30px 50px 55px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: auto 500px;
}

input[type=text], input[type=password], select, textarea {
  width: 80%;
  padding: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 13px;
  font-family: Ubuntu;
}

label {
  padding: 12px 12px 12px 0;
  display: block;
  text-align: left;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px 8px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.header-logo {
  font-family: Catamaran;
  font-size: 15px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  padding: 10px 0px;
}

@media screen and (max-width: 600px) {
  .sign-up-form, input[type=text], input[type=password], select, textarea, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}