* {
 text-decoration: none;
}

.page-title {
  margin: auto;
  font-family: Catamaran;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  margin-top: 30px;
}

#table {
  font-family: Catamaran;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4893D8;
  color: white;
}

@media screen and (max-width: 280px){
  #table {
    width: 20%;
  }
  
  #table td, #table th {
    padding: 8px;
  }
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
}