* {
 text-decoration: none;
}

.page-title {
  margin: auto;
  font-family: Catamaran;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  margin-top: 30px;
}

#table {
  font-family: Catamaran;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4893D8;
  color: white;
}

@media screen and (width: 1024px) {
  #table {
    width: 100%;
  }
  
  #table td, #table th {
    padding: 8px;
  }
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


/**candidate overview */
.candidates-grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%; /* 4 items * item width(100+5+5) = 440 */
}

.candidates-grid .single-candidate {
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
}

.candidates-grid .single-candidate p {
  font-size: 12px;
  text-align: center;
  font-family: Catamaran;
}

.candidate-image {
  width: 200px;
}

@media screen and (max-width: 414px){
  .candidate-image {
    width: 50px;
  }
  .candidates-grid .single-candidate p {
    font-size: 8px;
    text-align: center;
  }
  .candidates-grid .single-candidate {
    
    margin: auto;
  }
}


/**FEEDBACK styling BEGINS */

.successful-feedback {
  margin-top: 10px;
  margin-right: 50%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
}
.failed-feedback {
  margin-top: 10px;
  margin-right: 50%;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
}
.closebtn {
  margin-left: 15px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}

/**FEEDBACK styling ENDS */